* {
  margin: 0;
  padding: 0;
}
body,
html {
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, #000000, #000000);
  color: white;
}
#scrollbar styling ::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #000005;
}
::-webkit-scrollbar-thumb {
  background: #9b898f;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9c8892;
}
.navbar {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  padding: 10px 20px;
  margin: 060px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  align-items: center;
  transition: background 0.3s, color 0.1s, top 0.3s, left 0.3s, right 0.3s,
    padding 0.3s, margin 0.3s, box-shadow 0.3s;
  z-index: 1000;
  background-color: rgb(27, 27, 30);
}
.navbar.sticky {
  background: #893d3d;
  color: #51333d;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 20px;
  box-shadow: 0 4px 8px rgb(102, 58, 58); /* White shadow */
}
.navbar a {
  color: inherit; /* Use inherit to ensure color change on scroll */
  text-decoration: none;
  font-weight: 600;
  margin: 0 15px;
  transition: color 0.3s;
}
.navbar a:hover {
  color: rgb(122, 82, 21);
  font-size: 1rem;
}
.image1 {
  width: 600px;
  height: 600px;
  border-radius: 80%;
  display: block;
  /* padding-top: 7rem; */
  /* padding-left: 44rem; */
}
.h3 {
  color: white;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
  padding-top: 7rem;
  align-items: center;
}
.firstsection > div {
  width: 30%;
}
.leftsection {
  /* background-color: red; */
  padding-left: 6rem;
  font-size: 2rem;
  margin: 30px 0;
}
.rightsection {
  /* background-color: red; */
}
.purple {
  color: blueviolet;
}
